In [1]:
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format

In [2]:
df = pd.read_excel('./cleaned/JaxByCoByYear.xlsx')
df.head()

   listing_office_group     2019     2020     2021     2022     2023
0    WATSON REALTY CORP 4,506.00 3,666.00 3,315.00 2,657.00 1,997.00
1       KELLER WILLIAMS 3,531.00 3,433.00 3,091.00 2,901.00 2,712.00
2  FLORIDA HOMES REALTY 2,408.00 2,451.00 2,720.00 2,721.00 2,092.00
3       COLDWELL BANKER 2,565.00 2,355.00 2,216.00 1,859.00 1,467.00
4            D R HORTON 1,476.00 2,088.00 2,443.00 2,057.00 1,109.00

In [3]:
df['5yr'] = (df[2023] - df[2019]) / df[2019] * 100
df

,listing_office_group,2019,2020,2021,2022,2023,5yr
0,WATSON REALTY CORP,"4,506.00","3,666.00","3,315.00","2,657.00","1,997.00",-55.68
1,KELLER WILLIAMS,"3,531.00","3,433.00","3,091.00","2,901.00","2,712.00",-23.19
2,FLORIDA HOMES REALTY,"2,408.00","2,451.00","2,720.00","2,721.00","2,092.00",-13.12
3,COLDWELL BANKER,"2,565.00","2,355.00","2,216.00","1,859.00","1,467.00",-42.81
4,D R HORTON,"1,476.00","2,088.00","2,443.00","2,057.00","1,109.00",-24.86
...,...,...,...,...,...,...,...
159,VISTA COLLECTIVE REAL ESTATE,NaN,NaN,NaN,15.00,55.00,NaN
160,WJH BROKERAGE FL,NaN,NaN,3.00,116.00,50.00,NaN
161,DOOR INVESTMENT ADVISORS,NaN,NaN,89.00,26.00,10.00,NaN
162,SALT RUN REAL ESTATE,NaN,NaN,118.00,5.00,7.00,NaN
163,ZILLOW,NaN,NaN,76.00,55.00,NaN,NaN

In [4]:
df.sort_values(by='5yr').head(10)

,listing_office_group,2019,2020,2021,2022,2023,5yr
11,DREAM FINDERS REALTY,590.00,489.00,408.00,119.00,1.00,-99.83
64,THE SIMMONS LAND GROUP,99.00,83.00,2.00,1.00,2.00,-97.98
71,MARSH LANDING COUNTRY CLUB REALTY,66.00,75.00,87.00,61.00,3.00,-95.45
44,REDZONE REALTY,84.00,133.00,130.00,108.00,4.00,-95.24
139,LA ROSA REALTY,72.00,13.00,14.00,4.00,5.00,-93.06
68,THE DJ & LINDSEY TEAM,31.00,78.00,621.00,16.00,3.00,-90.32
104,GPS REALTY,67.00,51.00,7.00,17.00,8.00,-88.06
134,AVH NORTH FLORIDA,57.00,22.00,114.00,54.00,7.00,-87.72
142,MASH REALTY SERVICES,113.00,10.00,14.00,8.00,15.00,-86.73
83,ERA HEAVENER REALTY,60.00,66.00,66.00,67.00,10.00,-83.33

In [5]:
df.sort_values(by='5yr', ascending=False).dropna().head(10)

,listing_office_group,2019,2020,2021,2022,2023,5yr
77,HERRON REAL ESTATE,2.00,69.00,263.00,458.00,427.00,"21,250.00"
143,DJ & LINDSEY REAL ESTATE,4.00,6.00,126.00,280.00,222.00,"5,450.00"
127,OCCUPY REAL ESTATE GROUP,1.00,29.00,46.00,69.00,52.00,"5,100.00"
22,MOMENTUM REALTY,12.00,336.00,532.00,600.00,612.00,"5,000.00"
85,THE THAYVER GROUP,1.00,65.00,39.00,63.00,41.00,"4,000.00"
132,RESIDENTIAL MOVEMENT REAL ESTATE GROUP,2.00,25.00,64.00,60.00,53.00,"2,550.00"
99,EXIT INSPIRED REAL ESTATE,4.00,54.00,61.00,84.00,89.00,"2,125.00"
109,CHAD AND SANDY REAL ESTATE GROUP,13.00,45.00,57.00,184.00,181.00,"1,292.31"
101,BEYCOME OF FLORIDA,20.00,53.00,122.00,163.00,192.00,860.00
60,PINEYWOODS REALTY,12.00,87.00,89.00,120.00,114.00,850.00

In [6]:
df.loc[(~df[2019].isnull())&(df[2023].isnull())]

,listing_office_group,2019,2020,2021,2022,2023,5yr
7,EXIT REAL ESTATE GALLERY,791.00,708.00,611.00,286.00,NaN,NaN
25,FLORIDA REALTY HUB,117.00,237.00,34.00,NaN,NaN,NaN
33,MAGNOLIA PROPERTIES,210.00,175.00,15.00,NaN,NaN,NaN
34,PREMIER COAST REALTY,205.00,165.00,110.00,20.00,NaN,NaN
46,JP AND ASSOCIATES REALTORS CITY AND BEACH,52.00,119.00,194.00,53.00,NaN,NaN
58,PABLO CREEK REAL ESTATE,73.00,89.00,42.00,10.00,NaN,NaN
72,ANCIENT CITY REAL ESTATE,62.00,73.00,21.00,NaN,NaN,NaN
74,FIRST COAST REALTY GROUP,43.00,71.00,140.00,51.00,NaN,NaN
86,AMELIA ISLAND REAL ESTATE SALES,135.00,65.00,NaN,NaN,NaN,NaN
107,EDGEWATER COMPANIES,67.00,50.00,41.00,NaN,NaN,NaN
119,BAR INVEST MANAGEMENT,61.00,39.00,NaN,NaN,NaN,NaN
135,OWNERSCOM,72.00,21.00,1.00,NaN,NaN,NaN
136,YELLOWFIN REALTY GROUP,82.00,20.00,NaN,NaN,NaN,NaN
144,INI REALTY INVESTMENTS,130.00,6.00,NaN,NaN,NaN,NaN

In [7]:
df.loc[(df[2019].isnull())&(~df[2023].isnull())]

,listing_office_group,2019,2020,2021,2022,2023,5yr
103,OFFERPAD,NaN,51.00,354.00,516.00,164.00,NaN
122,FLAT FEE MLS REALTY,NaN,35.00,112.00,100.00,53.00,NaN
123,YELLOWFIN REALTY 1ST COAST,NaN,35.00,93.00,71.00,50.00,NaN
140,SLATE REAL ESTATE,NaN,10.00,98.00,146.00,128.00,NaN
145,NON MEMBER LISTING OFFICE,NaN,2.00,670.00,NaN,1.00,NaN
148,THE REALTY EXPERIENCE POWERED,NaN,NaN,NaN,NaN,190.00,NaN
149,MARK SPAIN REAL ESTATE,NaN,NaN,26.00,288.00,167.00,NaN
150,LGI REALTY - FLORIDA,NaN,NaN,NaN,NaN,136.00,NaN
151,YELLOWBIRD REALTY,NaN,NaN,NaN,223.00,105.00,NaN
152,IRON VALLEY REAL ESTATE NORTH FLORIDA,NaN,NaN,NaN,40.00,103.00,NaN
153,CASTILLO REAL ESTATE JAX,NaN,NaN,NaN,21.00,95.00,NaN
154,CENTURY COMMUNITIES OF FLORIDA,NaN,NaN,NaN,4.00,89.00,NaN
155,YOUR HOME SOLD GUARANTEED REALTY ADVISORS,NaN,NaN,11.00,43.00,58.00,NaN
156,FLORIDA WELCOME HOME REAL ESTATE,NaN,NaN,56.00,55.00,56.00,NaN
157,JOSEPH WALTER REALTY,NaN,NaN,50.00,52.00,55.00,NaN
158,DOGWOOD REALTY,NaN,NaN,NaN,50.00,55.00,NaN
159,VISTA COLLECTIVE REAL ESTATE,NaN,NaN,NaN,15.00,55.00,NaN
160,WJH BROKERAGE FL,NaN,NaN,3.00,116.00,50.00,NaN
161,DOOR INVESTMENT ADVISORS,NaN,NaN,89.00,26.00,10.00,NaN
162,SALT RUN REAL ESTATE,NaN,NaN,118.00,5.00,7.00,NaN

In [8]:
# ['ENGEL & VOLKERS FIRST COAST',
# 'ENGEL & VOLKERS JACKSONVILLE',
# 'ENGEL & VOLKERS ST AUGUSTINE',
# 'ENGEL & VOLKERS GAINESVILLE',
# 'ENGEL & VOLKERS AMELIA ISLAND',
# 'ENGEL & VOLKERS']